### local directories ###
**/.terraform/*
**/state/*

### cloned directories ###
**/mtc-*

### VS Code ###
.vscode/

### state files ###
**/dockers/*.tfstate
**/dockers/*.tfstate.backup
**/dockers/*.tfstate.*.backup