### local directories ###
**/.terraform/*
**/state/*
**/dockers/*.tfstate.d
**/dockers/noderedvol
**/dockers/backup

### cloned directories ###
**/mtc-*

### VS Code ###
.vscode/

### state files ###
**/**/*.tfstate
**/**/*.tfstate.backup
**/**/*.tfstate.*.backup
**/**/*.tfvars
! **/**/*.auto.tfvars

### plan ###
**/dockers/plan*
**/dockers/*.png

### sensitive info ###
**/dockers/*.txt
**/*.txt
**/*.json
**/*.exe
**/*.exe.sha256